<div>
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <div class="row between-xs middle-xs header-row">
        <nav>
          <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
          <a mat-button routerLink="/products" routerLinkActive="active" *ngIf="mensaje=='mostrar'">Products</a>
          <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
          <a mat-button routerLink="/admin" routerLinkActive="active">Crear</a>
        </nav>
        <a mat-raised-button matBadge="{{total$|async}}" matBadgeColor="warn" routerLink="/order">
          <span class="material-icons"> shopping_cart </span>
          Carrito
        </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>
