<form [formGroup]="form" (ngSubmit)="saveProdsuccessfully($event)">
    <mat-card> 
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="" formControlName="id" matInput type="text" default="1">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Title" formControlName="tittle" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field> 
                        <input placeholder="Price" formControlName="price" matInput type="number">
                    </mat-form-field>
                    <div *ngIf="priceField!.errors && form.get('price')!.dirty"> 
                    <p *ngIf="priceField!.hasError('price_invalid')">Este campo no es Valido</p>
                    <p *ngIf="priceField!.hasError('required')">el campo es requerido</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea placeholder="Text" formControlName="description" matInput type="text"></textarea>
                    </mat-form-field>
                    <mat-card-actions>
                        <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Crear</button>
                    </mat-card-actions>
                </div>
            </div>

            
            
            <!-- <mat-form-field>
                <input formControlName="image" matInput type="number">
            </mat-form-field> -->
            
        </mat-card-content>
    </mat-card>
    
</form>
