<form *ngIf="prod" [formGroup]="form" (ngSubmit)="saveProdsuccessfully($event)">
    <mat-card class="title">
        <mat-card-title>{{prod.title}}</mat-card-title>
    </mat-card>
    <mat-card class="padre"> 
        <div class=image>
            <img [src]="prod.image" alt="">
         </div>
        
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input [placeholder]="prod.id" formControlName="id" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input [placeholder]="prod.title" formControlName="tittle" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field> 
                        <input placeholder= "Incert new Price" formControlName="price" matInput type="number">
                    </mat-form-field>
                    <div *ngIf="priceField!.errors && form.get('price')!.dirty"> 
                    <p *ngIf="priceField!.hasError('price_invalid')">Este campo no es Valido</p>
                    <p *ngIf="priceField!.hasError('required')">el campo es requerido</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea [placeholder]="prod.description" formControlName="description" matInput type="text"></textarea>
                    </mat-form-field>
                    <mat-card-actions>
                        <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Crear</button>
                    </mat-card-actions>
                    
                </div>
            </div>
        </mat-card-content>

    </mat-card>

    
</form>
