<form >
<div class="container">
    <mat-card>
        <div class="enter">
     <div class="u">
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="c">
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="b">
    <button mat-raised-button routerLink="../../home"color="primary">Ingresar</button>
    <a mat-raised-button color="warn" routerLink="/auth/register"> Registrarse</a>
    </div>
    </div>
    </mat-card>
</div>
</form>